@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

p {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

ul ol {
  display: flex;
  flex-direction: column-reverse;
  /*margin-bottom: 20px;*/
}


.header i {
  font-size: 30px;
}

.to-do {
  margin-top: 40px;
  width: 60%;
}

.textInsert {
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 90%;
}

.divInsert {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px grey;
}

button {
  /*width: 10%;*/
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.bx-plus,
.bx-check-circle {
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: rgb(139, 14, 223);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.col-2 {
  display: block;
  /* height: 100%;
  width: 40%; */
}

.divLi {
  margin-top: 20px;
  padding: 15px;
  background: lightgray;
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px grey;
  display: flex;
  align-items: center;
}

.divLi span {
  width: auto;
  word-wrap: break-word;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

/*Tamanho dos botões*/
.divLi i {
  font-size: 25px;
  color: rgb(139, 14, 223);
}

.btn-primary,
.btn-success {
  background-color: rgb(139, 14, 223);
  border-color: rgb(139, 14, 223);
  ;
}

filter {
  appearance: none;
  outline: nome;
  border: nome;
  color: 6px 5px 10px 0px grey;
  width: 20ren;
  display: flex;

}

.filter {
  position: relative;
}


li {
  margin-left: -30px;
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

@media (max-width: 775px) {
  /*input {
    width: 70%;
  }*/

  .divInsert button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  .lixeira {
    width: 20% !important;
  }

  p {
    font-size: x-large;
  }

  .col-2 {
    display: block;
    height: 30%;
    width: 50%;


  }
}

.footer button {
  float: right;
  font-size: 30px;
  color: rgb(139, 14, 223);
}

#modalcategoria {
  background-color: #fff;
  float: center;
  margin: 0;
  padding: 0px;
  z-index: 999;
}


.footer-trash {
  display: block;
  align-items: center;
  justify-content: center;
  height: 30%;

}

.container footer {
  vertical-align: middle;

}

h2 {
  color: black;
}

.text-black {
  color: black;
}

#muda-cor {
  padding-left: 20px;
}

.erro {
  color: red;
  font-size: 12px;
  display: none;
}

/*
.txtCadastroCategoria {
   width: 88% !important;
}*/

.divInsertCategoria {
  margin-top: -10px;
}

input {
  border-radius: 0.375rem !important;
}

select {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.texto-danger {
  color: red !important;
}

.texto-black {
  color: black !important;
}

.float-direita {
  float: right;
}